<form novalidate class="detail-form" hidden="hidden">

        <div class="ui-status error">Se ha producido un error</div>
    
        <div class="ui-status loading">Actualizando Película...</div>
    
        <div class="ui-status ideal">
            <div class="form-control-group">
                <label for="director" class="negrita">Director</label>
                <input id="director" type="text" name="director" placeholder="Director">
            </div>
            <div class="form-control-group">
                <label for="title" class="negrita">Título</label>
                <input id="title" type="text" name="title" placeholder="Title">
            </div>
            <div class="form-control-group">
                <label for="script" class="negrita">Guionista</label>
                <input id="script" type="text" name="script" placeholder="Guionista">
            </div>
            <div class="form-control-group">
                <label for="genre" class="negrita">Géneros</label>
                <input id="genre" type="text" name="script" placeholder="Géneros">
            </div>
            <div class="form-control-group">
                <label for="length" class="negrita">Duración (min)</label>
                <input id="length" type="text" name="length" placeholder="Duración (min)">
            </div>
            <div class="form-control-group">
                <label for="country" class="negrita">País</label>
                <input id="country" type="text" name="country" placeholder="Pais">
            </div>
            <div class="form-control-group">
                <label for="debut" class="negrita">Estreno</label>
                <input id="debut" type="date" name="debut">
            </div>
            <div class="form-control-group">
                <label for="cover_url" class="negrita">Cover URL</label>
                <input id="cover_url" type="url" name="cover_url" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="scene1" class="negrita">Escena 1 URL</label>
                <input id="scene1" type="url" name="scene1" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="scene2" class="negrita">Escena 2 URL</label>
                <input id="scene2" type="url" name="scene2" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="filmaffinity_url" class="negrita">Filmaffinity URL</label>
                <input id="filmaffinity_url" type="url" name="filmaffinity_url" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="IMDb_url" class="negrita">IMDb URL</label>
                <input id="IMDb_url" type="url" name="IMDb_url" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="tomatoes_url" class="negrita">Rotten Tomatoes URL</label>
                <input id="tomatoes_url" type="url" name="tomatoes_url" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="metacritic_url" class="negrita">Metacritic URL</label>
                <input id="metacritic_url" type="url" name="metacritic_url" placeholder="http://...">
            </div>
            <div class="form-control-group">
                <label for="cast" class="negrita">Reparto</label>
                <textarea id="cast" name="cast"></textarea>
            </div>
            <div class="form-control-group">
                <label for="sinopsis" class="negrita">Sinopsis</label>
                <textarea id="sinopsis" name="sinopsis"></textarea>
            </div>
            <div class="form-control-group">
                <button>Save film</button>
            </div>
        </div>
    
    </form>